 @font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.eot');
	src: local('☺'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
            }
	@font-face {
	font-family: 'GothamRounded';
	src: url('../fonts/GothamRoundedBold.eot');
	src: local('☺'), url('../fonts/GothamRoundedBold.woff') format('woff'), url('../fonts/GothamRoundedBold.ttf') format('truetype'), url('../fonts/GothamRoundedBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
			}
		ul {
 	    	list-style: none;		 
 			text-align:center;	
		   }
		li{
        	display: inline;
		   }
		a{
			text-decoration: none;
		   }
		.link1 {		
			margin:40px;	 
			font-family: Roboto; 
        	font-size: 9pt; 
        	color: #16a085;
        	letter-spacing: 2px;
	       }
	    .imd{
	   		 display: block;
       		 margin: 0 auto;
	        }
	    .layer1{

	    	position: relative;    		  
    		background: #f5f6f7;
    		height: 469px;
    		width: 925px;
    		margin: auto; 
	        }
	    .layer2{

	    	position: relative;
	    	top: 10%;
	    	text-align:center;	
   		    font-family: Roboto; 
       	    font-size: 11pt; 
            color: #373737;
            letter-spacing: 2px;
	    }
		.layer3{
			position: relative;
		    top: 13%;
			text-align:center;			
			font-family: Roboto; 
			font-size: 8pt; 
            color: #373737;
            letter-spacing: 2px;  
            line-height: 13pt;         
		}
		.layer4{
			position: relative;
		    top: 18%;
			text-align:center;			
			font-family: Roboto; 
			font-size: 8pt; 
            color: #373737;
            letter-spacing: 2px; 
            line-height: 13pt;          
		}
		.layer5{
			position: relative;			
			top: 28%;
			text-align:center;				
		}
		.link2{
			
			background: #16a085; 
			font-family: GothamRounded; 	
			font-size: 6pt; 
			letter-spacing: 2px; 
            line-height: 10pt; 
    		color: #ffffff; 
    		padding: 15px 29px;
    		border-radius: 2px;
		}
		.layer6{
			position: relative;			
			margin:40px;
			text-align:center;	
			font-family: Roboto; 
			font-size: 8pt; 
            color: #373737;	
            letter-spacing: 2px; 
            margin-left:40%;			
		}